/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(238, 234, 211);
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Header Styles */
header {
    background-color: #2C3E50;
    color: white;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 30px;
    text-align: center;
    font-size: 48px;
}
header h4 {
    margin: 10px;
    text-align: center;
    font-size: 22px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main Content Styles */
main {
    padding: 50px 0;
    background-color: rgb(238, 234, 220);
}

section {
    margin-bottom: 50px;
}

section h2 {
    color: #2C3E50;
    font-size: 32px;
}

section p {
    font-size: 20px;
    line-height: 1.6;
}

#graph-container {
    margin-top: 30px;
    text-align: center;
    min-height: 400px; /* You can adjust this based on the size of your graphs */
}

/* Footer Styles */
footer {
    background-color: #2C3E50;
    color: white;
    padding: 30px 0;
    text-align: center;
}


/* Tooltip Styles */
#tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    opacity: 0;
}

/* Dropdown Style */
#sex-filter {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

/* Jero.js styles */ 
#sankey-vis {
  width: 100%;
  height: 800px;
  margin-bottom: 120px;
}

.node rect {
  cursor: move;
  fill-opacity: 0.9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.2;
}

.link:hover {
  stroke-opacity: 0.7;
}
  
#controls {
  margin-bottom: 10px;
}

.dept-btn {
  margin: 5px;
  padding: 8px 12px;
  border: 1px solid #2C3E50;
  background-color: #f0f0f0;
  cursor: pointer;
}

.dept-btn.active {
  outline: 2px solid #2C3E50;
}

#BarChart {
  background: rgb(245,240,230);
  border: 2px solid #2C3E50;
  padding: 10px;
}

#scatterplot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#legend-container {
  border: 2px black;
}

hr {
  border: 0;
  height: 4px;
  background-color: black;
}

main {
  padding: 40px;
}